@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

:root {
    --color-main: #065cab;
    --color-hover: #02325f;
    --text-dark: #343a40;
    --text-gray: #A0AEC0;
}

body {
    background: #F7F7F7;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Customize */
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 992px) {
    .col-lg-2-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}


.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.swiper-container [class*=swiper-button] {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.swiper-container [class*=swiper-button]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;
}

.swiper-container .swiper-button-prev.arrow-light {
    left: 30px;
}

.swiper-container .swiper-button-next.arrow-light {
    right: 30px;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    pointer-events: auto;
}

.swiper-container .swiper-button-prev:after {
    content: "\f104";
}

.swiper-container .swiper-button-next:after {
    content: "\f105";
}

.swiper-container:hover [class*=swiper-button] {
    opacity: 1;
    visibility: visible;
}

.card .link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.color-main {
    color: var(--color-main);
}

.color-hover {
    color: var(--color-hover);
}

.background-main {
    background-color: var(--color-main);
}

.background-hover {
    background-color: var(--color-hover);
}

.text-gray {
    color: var(--text-gray);
}

.text-09 {
    font-size: .9em;
}

/* Header */
header .header-navigation {
    padding: 10px 0 10px 20px;
}

header .header-navigation > a {
    color: #c1c4c7;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
}

header .header-form {
    padding: 10px 0;
}

header .header-form .input-group {
    position: relative;
    flex-wrap: nowrap;
    background-color: #fff;
}

header .header-form .input-group .input-group-prepend {
    width: 23%;
    flex-shrink: 0;
}

header .header-form .input-group .input-group-prepend select {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .95em;
    color: #909090;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/arrow-select.webp") no-repeat 70px center/10px;
}

header .header-form .input-group input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: .95em;
    color: #909090;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    padding-right: 40px;
    background-color: transparent;
}

header .header-form .input-group input::placeholder {
    color: #909090;
}

header .header-form .input-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 1.1em;
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    color: #909090;
}

header .btn-outline-light {
    border: 1px solid #e9e9e9;
    color: #565656;
    font-size: .95em;
}

header .btn:not(:first-of-type) {
    margin-left: 20px;
}

header .btn:not([class*=btn-outline]) {
    color: #fff;
    font-size: .95em;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

header .btn:not([class*=btn-outline]):hover {
    box-shadow: inset 0 0 10px #ccc !important;
    border-color: transparent;
    color: #fff !important;
}

header .btn.btn-outline-light:hover {
    background: #f9f9f9;
    color: var(--color-main);
    border: 1px solid #e9e9e9;
}


header .header-link {
    height: 60px;
    width: 80px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    text-align: center;
    margin: 0 20px;
}

header .header-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-main);
    font-size: 1.4em;
    transition: .3s all ease;
}

header .header-link a:hover {
    background: #f9f9f9;
    color: var(--color-hover);
}

/* End header */

/* Card Document */
@media screen and (max-width: 600px) {
    .card-document {
        height: 100%;
    }
}

.card-document {
    transition: .3s all ease-in-out;
}

.card-document:hover {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .25) !important;
}

.card-document .card-header {
    height: 225px;
}

.card [class*=document] {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    font-size: .9em;
}

.document-pdf {
    background-color: #FB2D2D;
}

.document-word {
    background-color: #0C67C2;
}

.document-ppt {
    background-color: #C1401E;
}

.document-excel {
    background-color: #016E38;
}

.card-document .card-body {
    padding: 12px;
}

.card-document .card-body .card-title {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.card-document .card-body .card-title:hover {
    color: var(--color-main);
}

.card-document .card-body .card-text {
    color: var(--color-main);
    transition: .3s all ease;
    margin-bottom: 8px;
}

.card-document .card-body .card-text:hover {
    color: var(--text-gray);
}

.card-document .card-body ul li:not(:last-of-type) {
    padding-right: 20px;
}

/* End card document */

/* Card category */
.card-category {
    margin-top: 30px;
}

.card-category .card-header {
    background: var(--color-main) no-repeat -80px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    max-width: calc(100% - 24px);
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 12px;
    top: -10px;
}

.card-category .card-body {
    padding: 12px;
    padding-top: 60px;
}

.card-category .card-body > ul > li {
    border-bottom: 0;
}

.card-category .card-body > ul > li + li {
    margin-top: 10px;
    padding-top: 10px !important;
    border-top: 1px dashed #e9e9e9;
}

.card-category .card-body > ul > li > a {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.card-category .card-body > ul > li > a:hover {
    color: var(--color-main);
}

.card-category [class*=document] {
    position: relative;
    top: -2px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: .8em;
    flex-shrink: 0;
    display: inline-flex;
}

.card-category .card-body > ul > li > ul {
    padding-left: 24px;
}

.card-category .card-body > ul > li > ul > li:not(:last-of-type) {
    padding-right: 20px;
}

/* End card category */

/* Footer */
footer .list-tags a {
    font-size: .9em;
    line-height: 2;
    margin: 0 5px;
    color: var(--text-gray);
    transition: .3s all ease;
}

footer .list-tags a:hover {
    color: var(--color-hover);
}

footer .footer-small {
    max-width: 768px;
    margin: 0 auto;
}

footer .footer-inner .footer-title {
    color: #a0a0a0;
}

footer .footer-inner .footer-list ul li a {
    display: block;
    color: #949494;
    font-weight: 400;
    font-size: 1em;
    transition: .3s all ease;
}

footer .footer-inner .footer-list ul li + li {
    margin-top: 10px;
}

/* End Footer */