@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

:root {
    --color-main: #065cab;
    --color-hover: #02325f;
    --text-dark: #343a40;
    --text-gray: #A0AEC0;
}

body {
    background: #F7F7F7;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Mulish', sans-serif;
}

a, a:hover, a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input,
select,
textarea {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* Customize */
@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 992px) {
    .col-lg-2-5 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
        padding-right: 15px;
        padding-left: 15px;
    }
}


.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 [class*=col] {
    padding: 10px;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.swiper-container [class*=swiper-button] {
    outline: none;
    box-shadow: none;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}

.swiper-container [class*=swiper-button]:after {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 4em;
}

.swiper-container .swiper-button-prev:after {
    content: "\f104";
}

.swiper-container .swiper-button-next:after {
    content: "\f105";
}

.swiper-container:hover [class*=swiper-button] {
    opacity: 1;
    visibility: visible;
}

.swiper-container .swiper-pagination {
    bottom: 15px;
}

.swiper-container .swiper-pagination span {
    overflow: hidden;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #6e6f79;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border: 2px solid #6e6e79;
    opacity: .7;
    outline: none !important;
    position: relative;
}

.swiper-container .swiper-pagination span:after {
    content: ' ';
    position: absolute;
    bottom: 50%;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2px);
    background-color: #6e6f79;
    box-shadow: 0 0 1px #6e6f79;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

.swiper-container .swiper-pagination span.swiper-pagination-bullet-active {
    box-shadow: inset 0 0 0 1px var(--color-main);
    border-color: var(--color-main);
}

.swiper-container .swiper-pagination span.swiper-pagination-bullet-active:after {
    height: calc(100% - 2px);
}

.card .link-cover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.color-main {
    color: var(--color-main);
}

.color-hover {
    color: var(--color-hover);
}

.background-main {
    background-color: var(--color-main);
}

.background-hover {
    background-color: var(--color-hover);
}

.text-gray {
    color: var(--text-gray);
}

.text-09 {
    font-size: .9em;
}

.text-underline {
    text-decoration: underline;
}

.heading-bg {
    background: var(--color-main);
    font-size: 1.8em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    width: 100%;
}

/* Modal theme*/
.popup-theme .modal .close {
    height: 25px;
    width: 25px;
    background: #000;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #fff;
    border: 1px solid #fff;
    top: -8px;
    right: -8px;
    z-index: 2;
}

.popup-theme .modal .close i {
    margin-top: -1px;
}

.form-effect {
    position: relative;
    font-size: 14px;
    margin-top: 30px;
    padding: 0 15px 15px;
}

.form-effect .group-effect {
    position: relative;
    height: 44px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
}

.form-effect .group-select2 {
    position: relative;
    height: auto;
    min-height: 44px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
}

.form-effect .group-effect .input-effect {
    height: 100%;
    width: 100%;
    background: #f1f1f1;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #1f2d3d;
    font-size: 1.1em;
    padding-left: 15px;
    margin-top: 0;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    border-radius: 6px;
    border: 1px solid transparent;
}

.form-effect .group-textarea.group-effect {
    min-height: 80px;
}

.form-effect .group-textarea.group-effect .input-effect {
    padding-top: 10px;
}

.form-effect .group-effect .input-effect[type="password"] {
    padding-right: 30px;
}

.form-effect .group-effect .input-effect ~ .select2-container {
    width: 100% !important;
    min-height: 100%;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    color: #1f2d3d;
    background: #f1f1f1;
    border: 1px solid transparent;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 6px;
    padding-left: 10px;
}

.form-effect .group-effect .input-effect ~ .select2-container .select2-selection--multiple {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding-bottom: 21px;
}


.form-effect .viewPass-effect {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 7px;
    color: #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-effect .group-effect .label-effect {
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 44px;
    color: #454545;
    opacity: .8;
    -o-transition: 0.2s all ease-out;
    transition: 0.2s all ease-out;
    -webkit-transition: 0.2s all ease-out;
}

.form-effect .group-effect .label-effect i {
    line-height: 1;
    font-size: 0.9em;
    margin-right: 4px;
}

.form-effect .group-effect .input-effect option:checked,
.form-effect .group-effect .input-effect:focus,
.form-effect .group-effect .input-effect.valid {
    background: #fff;
    border-color: #e9e9e9;
}

.form-effect .group-effect .input-effect:focus ~ .select2-container,
.form-effect .group-effect .input-effect.valid ~ .select2-container {
    background: #fff;
    border-color: #e9e9e9;
    padding-top: 9px;
}

.form-effect .group-effect .input-effect:focus ~ .label-effect,
.form-effect .group-effect .input-effect.valid ~ .label-effect {
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    font-size: 1em;
    color: #a9a9a9;
    background: #fff;
    display: inline-block;
    opacity: 1;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    left: 10px;
}

.form-effect .group-effect .input-effect.valid ~ .label-effect {
    transform: translateY(0) !important;
    top: -10px;
}


.form-effect .group-textarea.group-effect .input-effect:focus ~ .label-effect,
.form-effect .group-textarea.group-effect .input-effect.valid ~ .label-effect {
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
}

.form-effect .form-button {
    margin-top: 20px;
    text-align: left;
}

.form-effect .custom-control-label {
    outline: none !important;
    box-shadow: none !important;
    font-size: 1em;
}

.form-effect .custom-control-label:before,
.form-effect .custom-control-label:after {
    width: .9rem;
    height: .9rem;
    top: 2px;
    outline: none !important;
    box-shadow: none !important;
}

.form-effect .divider {
    margin: 20px 0;
    border-top: 1px solid #e9ecef;
    position: relative;
}

.form-effect .divider:before {
    position: absolute;
    display: block;
    content: "";
    z-index: 2;
    height: 12px;
    width: 12px;
    border: 1px solid #e9ecef;
    background-color: #fff;
    border-radius: 50%;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
}

.btn-facebook {
    background: #337ab7;
    color: #fff !important;
    font-size: .95em;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    height: 35px;
    border: 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    border-radius: .25rem;
    overflow: hidden;
}

.btn-facebook i {
    flex-shrink: 0;
    width: 35px;
    height: 100%;
    background: #2c699e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-facebook span {
    width: calc(100% - 35px);
}


.btn-facebook:hover {
    background: #2c699e;
}

.btn-google {
    background: #c9302c;
    color: #fff !important;
    font-size: .95em;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    height: 35px;
    border: 0;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    border-radius: .25rem;
    overflow: hidden;
}

.btn-google i {
    width: 35px;
    height: 100%;
    background: #b12a27;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn-google span {
    width: calc(100% - 35px);
}


.btn-google:hover {
    background: #b12a27;
}

.modal-price .modal-body .nav-tabs .nav-item {
    margin-right: 20px;
    min-width: 130px;
    height: 130px;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link {
    margin-bottom: 0;
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
    transition: .3s all ease-in-out;
    height: 100%;
    width: 100%;
    border-radius: .25rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link:before, .modal-price .modal-body .nav-tabs .nav-item .nav-link:after {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease-in-out;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link:before {
    border-top: 10px solid #fff;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link:after {
    border-top: 10px solid var(--color-main);
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link img {
    width: 40px;
    height: 40px;
    display: block;
    vertical-align: middle;
    margin: 0 auto 10px;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link p {
    color: var(--text-gray);
    transition: .3s all ease-in-out;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link.active {
    border-color: var(--color-main);
    background-color: #fff;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link.active:before, .modal-price .modal-body .nav-tabs .nav-item .nav-link.active:after {
    opacity: 1;
    visibility: visible;
}

.modal-price .modal-body .nav-tabs .nav-item .nav-link.active p {
    color: var(--color-main);
}

.modal-price .modal-body .form-desc ul li i {
    width: 16px;
    color: var(--color-main);
}

.modal-price .user-info {
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.modal-price .user-info .user-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px dashed #e9e9e9;
}

.modal-price .user-info .user-left .user-image {
    width: 55px;
    height: 55px;
    flex-shrink: 0;
}

.modal-price .user-info .user-left .user-image a {
    display: inline-block;
}

.modal-price .user-info .user-left .user-image a img {
    width: 100%;
    border-radius: 100%;
}

.modal-price .user-info .user-left .user-content {
    width: 100%;
    padding-left: 15px;
}


.modal-price .modal-content {
    background-color: transparent;
}

.modal-price .modal-content .modal-header,
.modal-price .modal-content .modal-body {
    background-color: #fff;
}

.modal-collection.fade .modal-dialog {
    -webkit-transform: translate(0, 0) scale(.5);
    transform: translate(0, 0) scale(.5);
}

.modal-collection.fade.show .modal-dialog {
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.modal-collection .modal-header .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    transition: .3s all ease;
    color: #919191;
}

.modal-collection .modal-header .nav-link:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: var(--color-main);
    display: block;
    content: "";
    transition: .1s all ease;
}

.modal-collection .modal-header .nav-link.active {
    color: #232323;
}

.modal-collection .modal-header .nav-link.active:before {
    height: 3px;
}

.modal-collection .modal-body .modal-title {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.modal-collection .modal-body .collapse-main > ul {
    max-height: 510px;
    overflow-y: auto;
}

.modal-collection .modal-body .collapse-main > ul > li {
    border: 1px solid #c8c8c8;
    border-radius: .25rem;
    overflow: hidden;
    margin-bottom: 15px;
}

.modal-collection .modal-body .collapse-main > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    color: var(--text-dark);
    background-color: #f9f9f9;
    padding: 8px;
    font-size: 1.1em;
}

.modal-collection .modal-body .collapse-main > ul > li > a[aria-expanded=true] i:before {
    content: "\f068";
}

.modal-collection .modal-body .collapse-main > ul > li > ul {
    border-top: 1px solid #c8c8c8;
    max-height: 350px;
    overflow-y: auto;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li {
    border-bottom: 0;
    padding: 10px;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li > a {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li > a [class*=document] {
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    position: relative;
    top: -2px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: .8em;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li > ul {
    padding-left: 24px;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li > ul > li:not(:last-of-type) {
    padding-right: 20px;
}

.modal-collection .modal-body .collapse-main > ul > li > ul > li + li {
    padding-top: 10px !important;
    border-top: 1px dashed #e9e9e9;
}

.modal-collection .modal-body .collapse-main ul::-webkit-scrollbar {
    width: 5px;
}

.modal-collection .modal-body .collapse-main ul::-webkit-scrollbar-track {
    background: #fff;
}

.modal-collection .modal-body .collapse-main ul::-webkit-scrollbar-thumb {
    background: #acacac;
}

.modal-collection .modal-body .collapse-main ul::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

.modal-report .form-effect .custom-control {
    margin-bottom: 5px;
    cursor: pointer;
}

.modal-report .form-effect .custom-control-label:before, .modal-report .form-effect .custom-control-label:after {
    width: 1rem;
    height: 1rem;
}

/* End modal Theme*/
/* Button customize */
.btn-customize {
    color: #fff;
    font-size: .95em;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
}

.btn-customize:hover {
    box-shadow: inset 0 0 10px #ccc !important;
    border-color: transparent;
    color: #fff !important;
}

.btn-customize.btn-light {
    color: #666161 !important;
    border: 1px solid #e9e9e9;
}

/* Header */
header .header-navigation {
    padding: 10px 0 10px 20px;
    position: relative;
}

header .header-navigation > a {
    color: #c1c4c7;
    font-size: 1.2em;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
}

header .header-navigation > ul > li > a {
    color: var(--text-dark);
    position: relative;
    font-size: 1em;
    transition: .3s all ease-in-out;
    border-bottom: 1px dashed #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px 14px 15px;
}

header .header-navigation > ul > li > a span {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

header .header-navigation > ul > li > a i {
    width: 20px;
    flex-shrink: 0;
    text-align: right;
}

header .header-navigation > ul > li > a:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color: var(--color-hover);
}

header .header-navigation > ul > li > a:hover {
    background-color: #f3f3f3;
    color: var(--color-main);
}

header .header-navigation > ul > li > ul > li > a {
    color: var(--text-dark);
    position: relative;
    font-size: 1em;
    transition: .3s all ease-in-out;
    border-bottom: 1px dashed #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px 14px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

header .header-navigation > ul > li > ul > li > a:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 3px;
    height: 20px;
    background-color: var(--color-hover);
}

header .header-navigation > ul > li > ul > li > a:hover {
    background-color: #f3f3f3;
    color: var(--color-main);
}

header .header-navigation ul::-webkit-scrollbar {
    width: 5px;
}

header .header-navigation ul::-webkit-scrollbar-track {
    background: #fff;
}

header .header-navigation ul::-webkit-scrollbar-thumb {
    background: #acacac;
}

header .header-navigation ul::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

@media screen and (min-width: 992px) {
    header .header-navigation > ul {
        position: absolute;
        top: 130%;
        opacity: 0;
        visibility: hidden;
        left: 30px;
        min-width: 250px;
        width: max-content;
        background-color: #fff;
        z-index: 9;
        transition: .3s all ease-in-out;
        box-shadow: -1px 1px 4px rgba(0, 0, 0, .27);
    }

    header .header-navigation > ul > li > ul {
        position: absolute;
        top: 50%;
        opacity: 0;
        visibility: hidden;
        left: 100%;
        min-width: 250px;
        width: max-content;
        background-color: #fff;
        z-index: 9;
        transition: .3s all ease-in-out;
        box-shadow: -1px 1px 4px rgba(0, 0, 0, .27);
    }


    header .header-navigation:hover > ul {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }

    header .header-navigation > ul > li:hover > ul {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

}

header .header-form {
    padding: 10px 0;
}

header .header-form .input-group {
    position: relative;
    flex-wrap: nowrap;
    background-color: #fff;
}

header .header-form .input-group .input-group-prepend {
    width: 23%;
    flex-shrink: 0;
}

header .header-form .input-group .input-group-prepend select {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: .95em;
    color: #909090;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("../images/arrow-select.webp") no-repeat 70px center/10px;
}

header .header-form .input-group input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: .95em;
    color: #909090;
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    padding-right: 40px;
    background-color: transparent;
}

header .header-form .input-group input::placeholder {
    color: #909090;
}

header .header-form .input-group button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 1.1em;
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    color: #909090;
}

header .btn-outline-light {
    border: 1px solid #e9e9e9;
    color: #565656;
    font-size: .95em;
}

header .btn:not(:first-of-type) {
    margin-left: 20px;
}

header .btn.btn-outline-light:hover {
    background: #f9f9f9;
    color: var(--color-main);
    border: 1px solid #e9e9e9;
}


header .header-link {
    height: 60px;
    width: 80px;
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    text-align: center;
    margin: 0 20px;
}

header .header-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-main);
    font-size: 1.4em;
    transition: .3s all ease;
}

header .header-link a:hover {
    background: #f9f9f9;
    color: var(--color-hover);
}

header .login-inner .login-info {
    position: relative;
}

header .login-inner .login-info > a {
    height: 60px;
}

header .login-inner .login-info > a > span {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    background: var(--color-hover);
    color: #fff;
    font-size: 1.1em;
}

header .login-inner .login-info > a img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

header .login-inner .login-info > ul {
    position: absolute;
    right: 0;
    width: 200px;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    background: #fff;
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    border: 1px solid #e9e9e9;
    z-index: 999999999;
}

header .login-inner .login-info > ul:before, header .login-inner .login-info > ul:after {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
    position: absolute;
    top: -10px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

header .login-inner .login-info > ul:before {
    border-bottom: 10px solid #a9a9a9;
}

header .login-inner .login-info > ul:after {
    border-bottom: 10px solid #fff;
}

header .login-inner .login-info > ul > li:not(:last-of-type) {
    border-bottom: 1px dotted #e9e9e9;
}

header .login-inner .login-info > ul > li > a {
    padding: 8px 15px;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    width: 100%;
    text-decoration: none;
    color: #333;
    text-align: left;
    display: block;
}

header .login-inner .login-info > ul > li:not(:first-of-type):not(:last-of-type) {
    background: #f9f9f9;
}

header .login-inner .login-info:hover ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .login-inner .login-info > ul > li:hover > a {
    color: var(--color-main);
}

header .login-inner .login-notification {
    cursor: pointer;
}

header .login-inner .login-notification > i {
    font-size: 1.2em;
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .login-inner .login-notification .card-notification {
    position: absolute;
    right: 0;
    max-width: 300px;
    width: 100%;
    top: 120%;
    opacity: 0;
    visibility: hidden;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -webkit-box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    border: 1px solid #e9e9e9;
    z-index: 100;
}

header .login-inner .login-notification .card-notification:before, header .login-inner .login-notification .card-notification:after {
    font-size: 1.4em;
    display: block;
    width: 0;
    height: 0;
    content: "";
    pointer-events: none;
    position: absolute;
    top: -10px;
    right: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

header .login-inner .login-notification .card-notification:before {
    border-bottom: 10px solid #a9a9a9;
}

header .login-inner .login-notification .card-notification:after {
    border-bottom: 10px solid #fff;
}

header .login-inner .login-notification .card-notification .card-body {
    max-height: 318px;
    overflow-y: auto;
    overflow-x: hidden;
}

header .login-inner .login-notification .card-notification .card-body::-webkit-scrollbar {
    width: 5px;
}

header .login-inner .login-notification .card-notification .card-body::-webkit-scrollbar-track {
    background: #fff;
}

header .login-inner .login-notification .card-notification .card-body::-webkit-scrollbar-thumb {
    background: #acacac;
}

header .login-inner .login-notification .card-notification .card-body::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

header .login-inner .login-notification .card-notification ul li:not(.no-notification) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    position: relative;
}

header .login-inner .login-notification .card-notification ul li + li {
    border-top: 1px dashed #e9e9e9;
    padding-top: 10px;
    margin-top: 10px;
}

header .login-inner .login-notification .card-notification ul li .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

header .login-inner .login-notification .card-notification ul li .image > a {
    color: var(--color-main);
}


header .login-inner .login-notification .card-notification ul li .content {
    width: calc(100% - 25px);
    padding-right: 20px;
    line-height: 1.2;
    font-weight: 300;
    color: #434040;
}

header .login-inner .login-notification .card-notification ul li .content > a {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--text-dark);
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

header .login-inner .login-notification .card-notification ul li .action {
    position: absolute;
    top: 8px;
    right: 0;
}

header .login-inner .login-notification .card-notification ul li .action a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    color: var(--color-main);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    font-size: 0.8em;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

header .login-inner .login-notification .card-notification ul li .action a:hover {
    color: #fff;
    background: var(--color-main);
}

header .login-inner .login-notification:hover .card-notification {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

header .login-inner .login-notification .card-notification ul li:hover .content > a {
    color: var(--color-main);
}

/* End header */
/* Banner */
.wrapper-banner .swiper-wrapper {
    height: auto;
}

.wrapper-banner .swiper-container .swiper-slide {
    height: 398px;
    position: relative;
}

.wrapper-banner .swiper-container .swiper-slide .swiper-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper-banner .swiper-container .swiper-slide .swiper-image a {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper-side--left {
    position: absolute;
    top: 0;
    left: calc((100% - 1280px) / 2);
    width: 250px;
    z-index: 2;
}

.wrapper-side--left ul li {
    position: relative;
    padding: 10px 20px;
}

.wrapper-side--left ul li a {
    display: block;
}

.wrapper-side--left ul li a h5 {
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #232323;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
}

.wrapper-side--left ul li a p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.wrapper-side--left ul li:hover a h5 {
    color: var(--color-main);
}


.wrapper-side--left ul li:not(:last-of-type) {
    border-bottom: 1px dashed #e9e9e9;
}

.wrapper-side--left ul li:before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    content: "";
    width: 4px;
    height: 30px;
}

.wrapper-side--left ul li.side-item-1:before {
    background: #ccc;
}

.wrapper-side--left ul li.side-item-2:before {
    background: #12ab7f;
}

.wrapper-side--left ul li.side-item-3:before {
    background: var(--color-main);
}

.wrapper-side--left ul li.side-item-4:before {
    background: #cf846d;
}

.wrapper-side--left ul li.side-item-5:before {
    background: #f9c138;
}

.wrapper-side--right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc((100% - 1280px) / 2);
    width: 250px;
    z-index: 2;
}

.wrapper-side--right .slick-slide {
    margin: 5px 0;
}

.wrapper-side--right .slick-list {
    margin: -5px 0;
}

.wrapper-side--right ul {
    margin-top: 20px;
}

.wrapper-side--right ul:before {
    z-index: -1;
    position: absolute;
    top: 10px;
    width: 1px;
    height: calc(100% - 10px);
    background-color: #e9e9e9;
    left: 5px;
    display: block;
    content: "";
}

.wrapper-side--right ul li {
    position: relative;
    padding-left: 20px;
}

.wrapper-side--right ul li:before {
    position: absolute;
    display: block;
    content: "";
    height: 8px;
    width: 8px;
    top: 10px;
    z-index: 2;
    left: 1px;
    border-radius: 50%;
    background-color: var(--color-main);
}

.wrapper-side--right .side-item--content .side-item--top > a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper-side--right .side-item--content .side-item--top > a .icon {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--color-main);
    border-radius: 4px;
    color: #fff;
    font-size: .95em;
    margin-right: 10px;
}

.wrapper-side--right .side-item--content .side-item--top > a .text h6 {
    color: var(--color-main);
    font-size: .9em;
    margin-bottom: 2px;
    transition: .3s all ease;
}

.wrapper-side--right .side-item--content .side-item--top > a .text h6:hover {
    color: var(--text-gray);
}

.wrapper-side--right .side-item--content .side-item--bottom > a {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: var(--text-dark);
    transition: .3s all ease;
}

.wrapper-side--right .side-item--content .side-item--bottom > a:hover {
    color: var(--text-gray);
}

/* End banner */

/* Card Document */
@media screen and (max-width: 600px) {
    .card-document {
        height: 100%;
    }
}

.card-document {
    transition: .3s all ease-in-out;
}

.card-document:hover {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .25) !important;
}

.card-document .card-header {
    height: 225px;
}

.card [class*=document] {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    font-size: .9em;
}

.document-pdf {
    background-color: #FB2D2D;
}

.document-word {
    background-color: #0C67C2;
}

.document-ppt {
    background-color: #C1401E;
}

.document-excel {
    background-color: #016E38;
}

.card-document .card-body {
    padding: 12px;
}

.card-document .card-body .card-title {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.card-document .card-body .card-title:hover {
    color: var(--color-main);
}

.card-document .card-body .card-text {
    color: var(--color-main);
    transition: .3s all ease;
    margin-bottom: 8px;
}

.card-document .card-body .card-text:hover {
    color: var(--text-gray);
}

.card-document .card-body ul li:not(:last-of-type) {
    padding-right: 20px;
}

/* End card document */

/* Card category */
.card-category {
    margin-top: 30px;
}

.card-category .card-header {
    background: var(--color-main) no-repeat -80px;
    font-size: 1.2em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    max-width: calc(100% - 24px);
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 12px;
    top: -10px;
}

.card-category .card-body {
    padding: 12px;
    padding-top: 60px;
}

.card-category .card-body > ul > li {
    border-bottom: 0;
}

.card-category .card-body > ul > li + li {
    margin-top: 10px;
    padding-top: 10px !important;
    border-top: 1px dashed #e9e9e9;
}

.card-category .card-body > ul > li > a {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.card-category .card-body > ul > li > a:hover {
    color: var(--color-main);
}

.card-category [class*=document] {
    position: relative;
    top: -2px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: .8em;
    flex-shrink: 0;
    display: inline-flex;
}

.card-category .card-body > ul > li > ul {
    padding-left: 24px;
}

.card-category .card-body > ul > li > ul > li:not(:last-of-type) {
    padding-right: 20px;
}

/* End card category */

/* Card blog*/
.card-blog + .card-blog {
    margin-top: 25px;
}

.card-blog .card-header img {
    max-height: 150px;
    object-fit: contain;
}

.card-blog .card-body {
    position: relative;
}

.card-blog .card-body .card-subtitle > a {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-main);
    font-size: .95em;
    transition: .3s all ease;
    display: inline-block;
    margin-bottom: 6px;
}

.card-blog .card-body .card-title {
    margin-bottom: 0;
}

.card-blog .card-body .card-title > a {
    font-weight: 700;
    color: #343434;
    font-size: 1.1em;
    transition: .3s all ease;
    display: inline-block;
    margin-bottom: 10px;
    padding-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.card-blog .card-body .card-title:hover > a {
    color: var(--color-main);
}

.card-blog .card-body .card-meta {
    color: #989898;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: .85em;
}

.card-blog .card-body .card-desc {
    color: #767676;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-right: 15px;
}

.card-blog .card-body .card-subtitle > a:hover {
    color: var(--color-hover);
}

.card-blog .card-body .card-button {
    padding-bottom: 60px;
}

.card-blog .card-body .card-submeta {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 1.25rem;
    border-top: 1px solid #e9e9e9;
    width: 100%;
    color: #767676;
    font-size: .9em;
}

.card-blog .card-body .card-submeta ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-blog .card-body .card-submeta ul li {
    position: relative;
}

.card-blog .card-body .card-submeta ul li:not(:first-of-type) {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #e9e9e9;
}

.sidebar .sidebar-inner .sidebar-item {
    padding: 10px;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid #e9e9e9;
}

.sidebar .sidebar-inner .sidebar-item + .sidebar-item {
    margin-top: 25px;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-heading {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-heading:before {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: #a9a9a9;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-list ul li:not(:last-of-type) {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e9e9e9;
}


.sidebar .sidebar-inner .sidebar-item .sidebar-list ul li > a {
    color: var(--color-main);
    line-height: 1.8;
    font-size: 1.1em;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-tags ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-tags ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li {
    border-bottom: 0;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li + li {
    margin-top: 10px;
    padding-top: 10px !important;
    border-top: 1px dashed #e9e9e9;
}


.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li > a {
    color: var(--text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: .3s all ease;
    font-size: 1.1em;
    margin-bottom: 8px;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li > a:hover {
    color: var(--color-main);
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li > a [class*=document] {
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    position: relative;
    top: -2px;
    right: 0;
    width: 20px;
    height: 20px;
    font-size: .8em;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li > ul {
    padding-left: 24px;
}

.sidebar .sidebar-inner .sidebar-item .sidebar-related > ul > li > ul > li:not(:last-of-type) {
    padding-right: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item a {
    border-radius: 0 !important;
}

.pagination .page-item.pageactive a {
    background: var(--color-main);
    color: #fff;
}

.page-single-blog .inner-title h4 {
    line-height: 1.5;
}

.page-single-blog .inner-meta {
    color: #767676;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-size: .9em;
}

.filter .dropdown-toggle {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #a9a9a9;
    font-size: .95em;
}

.single-category .inner .heading {
    margin-bottom: 10px;
}

.single-category .inner .heading span {
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    position: relative;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 1em;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.single-category .inner .heading h3 {
    font-size: 1.6em;
}

.single-category .inner .meta {
    margin-bottom: 5px;
}

.single-category .inner .meta ul li {
    padding-right: 20px;
    font-size: .95em;
}

.single-category .inner .info .inner-info .info-image a {
    height: 60px;
    width: 60px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;
}

.single-category .inner .info .inner-info .info-image a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.single-category .inner .info .inner-info .info-image a span {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: var(--color-hover);
    color: #fff;
    font-size: 1.2em;
}

.single-category .inner .info .inner-info .info-content .info-name {
    margin-bottom: 3px;
}

.single-category .inner .info .inner-info .info-content .info-action {
    display: flex;
    flex-direction: column;
    font-size: .95em;
}

.single-category .inner .info .inner-info .info-content .info-action a i {
    width: 15px;
}

.desc-content {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.desc-content.content-full {
    display: block;
}

/* End card blog*/

/* Profile */
.page-profile .detail-bg {
    padding: 130px 0 20px;
    background: var(--color-hover) center center repeat;
    position: relative;
}

.page-profile .detail-bg--info {
    background: rgba(0, 0, 0, .5);
}

.page-profile .detail-bg--info .info--inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 200px;
}

.page-profile .detail-bg--info .info--inner .info-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    border: 4px solid #e9e9e9;
    position: absolute;
    bottom: -50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-profile .detail-bg--info .info--inner .info-image img {
    width: 100%;
    max-width: 90%;
    object-fit: contain;
}

.page-profile .detail-bg--info .info--inner .info-image a {
    top: 0;
    right: 9px;
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    border-radius: 50%;
    background-color: #fff;
    border: #a9a9a9;
}

.page-profile .detail-bg--info .info--inner .info-image a input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.page-profile .detail-bg--info .info--inner .info-name {
    font-weight: 700;
    color: #fff;
    font-size: 1.7em;
    padding-top: 10px;
}

.page-profile .detail-bg--info .info--inner .info-item a {
    font-size: 1.05em;
    color: #d9d9d9;
    transition: .3s all ease;
}

.page-profile .detail-bg--info .info--inner .info-item a i {
    width: 16px;
    font-size: .9em;
    margin-right: 4px;
}

.page-profile .form-effect .group-effect {
    margin-bottom: 30px;
}

.page-profile .form-effect .group-effect.group-textarea {
    min-height: 44px;
}

.table-theme {
    font-size: 1.05em;
}

.table-theme .bg-theme {
    background: var(--color-hover);
    color: #fff;
}

.table-theme b,
.table-theme strong {
    color: #121212;
}

.table-theme td {
    vertical-align: middle;
    color: #454545;
}

.table-theme .btn-customize span {
    font-size: .9em;
    padding: 5px 10px;
    font-weight: 400;
}

.table-theme .color-green {
    color: #0c8a0c;
}

.table-theme ul li {
    margin-bottom: 10px;
    color: var(--text-gray);
}

/* End profile */

/* Footer */
footer .list-tags a {
    font-size: .9em;
    line-height: 2;
    margin: 0 5px;
    color: var(--text-gray);
    transition: .3s all ease;
}

footer .list-tags a:hover {
    color: var(--color-hover);
}

footer .footer-small {
    max-width: 768px;
    margin: 0 auto;
}

footer .footer-inner .footer-title {
    color: #a0a0a0;
}

footer .footer-inner .footer-list ul li a {
    display: block;
    color: #949494;
    font-weight: 400;
    font-size: 1em;
    transition: .3s all ease;
}

footer .footer-inner .footer-list ul li + li {
    margin-top: 10px;
}

/* End Footer */

@media screen and (max-width: 991px) {
    header .header-logo {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    header .header-navigation {
        position: absolute;
        left: 0;
        padding: 0;
    }

    header .header-mobilesearch {
        position: absolute;
        right: 0;
    }

    header .header-mobilesearch > a {
        color: #c1c4c7;
        font-size: 1.2em;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s all ease-in-out;
    }

    header .header-form {
        position: absolute;
        width: 100%;
        left: 0;
        padding: 10px;
        border-top: 1px solid #e9e9e9;
        background-color: #fff;
        z-index: 2;
        top: 120%;
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease-in-out;
    }

    header .header-form.show {
        top: 100%;
        opacity: 1;
        visibility: visible;
    }

    header .header-navigation > ul {
        max-width: 480px;
        width: 90vw;
        position: fixed;
        z-index: 1022;
        left: -200%;
        top: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transition: 0.3s all ease-out;
        -o-transition: 0.3s all ease-out;
        transition: 0.3s all ease-out;
        visibility: hidden;
        background: #fff;
        -webkit-box-shadow: 0 4px 20px #8891a9;
        box-shadow: 0 4px 20px #8891a9;
        opacity: 0;
    }

    header .header-navigation > ul > li:first-of-type {
        padding: 10px;
    }

    header .header-navigation > ul > li > a i {
        transform: rotate(90deg);
        transition: .2s all ease;
        width: unset;
    }

    header .header-navigation > ul > li > ul {
        background-color: #f9f9f9;
    }

    header .header-navigation > ul > li > ul > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    header .header-navigation > ul > li > ul > li > a:before {
        display: none;
    }

    header .header-navigation > ul > li > a[aria-expanded=true] i {
        transform: rotate(270deg);
    }

    header .login-inner .login-info > a img {
        width: 50px;
        height: 50px;
    }

    header .login-inner .login-info > a span {
        width: 50px;
        height: 50px;
        font-size: 1.4em;
    }

    header .login-inner .login-info .login-info-right > a {
        font-size: 1.2em;
    }

    header .login-inner .login-info .login-info-right p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    header .header-overlay {
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        z-index: 1001;
        background: rgba(0, 0, 0, 0.4);
    }

    .show-header-navigation header .header-navigation > ul {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    .show-header-navigation header .header-overlay {
        display: block;
    }

    .modal-price .modal-body .nav-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        padding-bottom: 20px;
    }

    .modal-price .modal-body .nav-tabs .nav-item {
        min-width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .modal-price .form-effect .group-effect .input-effect {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-banner .swiper-container .swiper-slide {
        height: 150px;
    }

    .card-document .card-header {
        padding: 10px;
        height: 170px;
    }

    .card-document .card-header img {
        width: 100%;
    }

    .card-document .card-body .card-title {
        font-size: 1em;
    }

    .card-document .card-body ul li {
        font-size: .85em;
    }

    .card-document .card-body ul li:not(:last-of-type) {
        padding-right: 12px;
    }

    .card-blog .card-body {
        height: auto;
        padding: 15px 10px;
    }

    .card-blog .card-body .card-button {
        padding-bottom: 65px;
    }

    .card-blog .card-body .card-submeta {
        font-size: .95em;
        padding: 10px;
    }

    .single-category .inner .heading span {
        width: 25px;
        height: 25px;
    }

    .single-category .inner .heading h3 {
        font-size: 1.2em;
    }

    .single-category .inner .info .btn-customize {
        width: 100%;
    }
}
